{% extends 'movie/base.html' %}

{% block content %}
<!-- wordcloud modal -->
<link rel="stylesheet" type="text/css" href="../../static/movie/style.css">
<link rel="stylesheet" type="text/css" href="../../static/movie/popup.css">

<div id="modal-container">
	<div class="modal-background">
    <div class="modal">
    	<h2>I'm a Modal</h2>
      <p>Hear me roar.</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
      	<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
      </svg>
    </div>
  </div>
</div>
<br><br><br>
<div style="background-color: #BDBDBD;height:500px;width:500px;float:left ; margin:10px">
<img src = "{{movie.poster.url}}" class="card-img-top" alt="{{ movie.movie_name }} poster">
</div>


<div style="height:300px;width:600px; float:right ; margin:10px">
<div style ="margin:10px;padding-left: 50px;float:right" class="box">
<a href="#popup1/{{ id }}" class="button">Random tweets</a>
</div>
<div id="popup1/3" class="overlay" >
	<div class="popup" style="height:500px;width:700px;">
		<h2>Tweeeeet</h2>
		<a class="close" href="#">&times;</a>
		<div id="tweet" tweetID="{{ tweet_id }}"></div>
		{{ tweet_id }}
		hiiii
		{{ id }}
		<!--<a href='/movie/show_{{ movie.movie_name|slice:"1:"}}/1/' class="button">Next tweet</a>!-->

		<button onClick='location.href=&quot;/movie/show_{{ movie.movie_name|slice:"1:"}}/#popup1/1/&quot;'>Next tweet</button>

	</div>

<!--<a href="#popup1" class="button">Next tweets</a>!-->

</div>

<div style ="margin:10px; padding-top: 200px">
<canvas id="myChart"></canvas>
</div>

<script sync src="https://platform.twitter.com/widgets.js"></script>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Positive', 'Negative'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: ['#4CAF50','#FF9800'],
            borderColor: 'rgb(255, 99, 132)',
            data: [{{ pos }}, {{ neg }}]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>


<!-- end of modal -->
<!-- enf of card -->
<script>

  window.onload = (function(){

    var tweet = document.getElementById("tweet");
    var id = tweet.getAttribute("tweetID");

    twttr.widgets.createTweet(
      id, tweet,
      {
        conversation : 'none',    // or all
        cards        : 'hidden',  // or visible
        linkColor    : '#cc0000', // default is blue
        theme        : 'light'    // or dark
      })
    .then (function (el) {
      el.contentDocument.querySelector(".footer").style.display = "none";
    });

  });

</script>


{% endblock %}
