{% extends 'movie/base.html' %}

{% block content %}
<!-- wordcloud modal -->
<div id="modal-container">
	<div class="modal-background">
    <div class="modal">
    	<h2>I'm a Modal</h2>
      <p>Hear me roar.</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
      	<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
      </svg>
    </div>
  </div>
</div>
<br><br><br>
<div style="background-color: #BDBDBD;height:500px;width:900px;">
<canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Positive', 'Negative'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: ['#4CAF50','#FF9800'],
            borderColor: 'rgb(255, 99, 132)',
            data: [{{ pos }}, {{ neg }}]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>

<!-- end of modal -->
<!-- enf of card -->
{% endblock %}
